jupyter==1.0.0
matplotlib==3.7.5
pandas==2.0.3
plotly==5.21.0
scikit-learn==1.3.2
spacy==2.3.9
# broken dependencies for cltl packages
nltk==3.8.1
torch==2.1.1
transformers==4.35.0
# from reproduction
stanford-openie==1.3.2
stanza==1.8.2
