jupyter==1.0.0
matplotlib==3.7.5
pandas==2.0.3
plotly==5.21.0
scikit-learn==1.3.2
spacy==2.3.9
tqdm==4.66.4
# broken dependencies for cltl packages
nltk==3.8.1
torch==2.1.1
transformers==4.35.0
# from reproduction paper
absl-py==2.1.0
accelerate==0.30.1
evaluate==0.4.0
rich==13.7.1
rouge-score==0.1.2
stanford-openie==1.3.2
stanfordnlp==0.2.0
stanza==1.8.2
wandb==0.17.0
